*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #272727;
}


h1{
    font-size: 25px; 
    font-family: "Creepster", system-ui;
    font-weight: bold;
    color: #FF2727;
}

.pop{
    font-family: "Poppins", sans-serif;
}

.creep{
    font-family: "Creepster", system-ui;
}

.rd{
    color: #8E221E;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-10px); }
    40%, 80% { transform: translateX(10px); }
  }

  .hover-shake:hover {
    animation: shake 0.5s ease-in-out;
  }